<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User List</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
	rel="stylesheet">

<style>
body {
	background-color: #2c2c2c;
	color: #f8f9fa;
}

</style>
</head>
<body class="bg-white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expenses">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

	<div class="container">
		<div class="table-container mt-5 ">

			<!-- Display flash messages -->
			<div th:if="${smsg}" class="alert alert-success text-center mt-3"
				th:text="${smsg}"></div>
			<div th:if="${errorMsg}" class="alert alert-danger text-center mt-3"
				th:text="${errorMsg}"></div>

			<!-- User Table -->
			<div>
				<table class="table table-hover table-striped mt-4 fs-5">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th>Operations</th>
					</tr>

					<tr th:each="user:${list}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.role}"></td>
						<td><a th:href="@{/user/delete(id=${user.id})}">
								<button class="btn btn-danger ms-2">Delete</button>
						</a> <a th:href="@{/user/edit(id=${user.id})}">
								<button class="btn btn-warning ms-2">Edit</button>
						</a></td>
					</tr>
				</table>
			</div>
		</div>


	</div>
	
	<div th:if="${showPagination}">
    		<ul  class="pagination justify-content-center mt-4">
            <li class="page-item">
                <a class="page-link navbar-dark bg-dark text-white m-2"
                   th:if="${page.hasPrevious()}"
                   th:href="@{/allUsers(page=${page.getNumber()-1}, username=${param.username})}">
                    Previous
                </a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(0,page.getTotalPages()-1)}">
                <div th:switch="${i}">
                    <div th:case="${page.getNumber()}">
                        <li class="page-item active">
                            <a class="page-link navbar-dark bg-dark text-white border border-black m-2"
                               th:href="@{/allUsers(page=${i}, username=${param.username})}"
                               th:text="${i+1}"></a>
                        </li>
                    </div>
                    <div th:case="*">
                        <li class="page-item">
                            <a class="page-link border border-black text-black m-2"
                               th:href="@{/allUsers(page=${i}, username=${param.username})}"
                               th:text="${i+1}"></a>
                        </li>
                    </div>
                </div>
            </th:block>
            <li class="page-item">
                <a class="page-link navbar-dark bg-dark text-white m-2"
                   th:if="${page.hasNext()}"
                   th:href="@{/allUsers(page=${page.getNumber()+1}, username=${param.username})}">
                    Next
                </a>
            </li>
        </ul>
    </div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN6jIeHz"
		crossorigin="anonymous"></script>

</body>
</html>
